form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%)
}

ion-input {
    --background: #F3F3F3;
    margin-bottom: 20px;
    border-radius: 20px;
    text-indent: 10px;
}

ion-title {
    padding-bottom: 25px;
    font-weight: bold;
    font-size: 14px;
    opacity: 50%;
}

.sign-up-btn {
    --background: #06908F;
    --color: white;
    font-size: 12px;
    font-weight: bold;
    margin-left: auto;
}

.icon {
    width: 80%;
    height: 80%;
    margin-left: auto;
}

ion-back-button {
    --color: #00A3FF;
}