.reportButton :host(.button-solid){
    --background: red;
}

.ItineraryButton {
    text-align: center;
    margin: auto;
}

.CityWelcome {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin: auto;
}

.TripLabel {
    font-size: 20px;
}

.cardLabels {
    font-size: 16px;
    font-weight: 600;
}

.cardDetails {
    font-size: 16px;
    font-weight: 500;
}

.formClass {
    margin-bottom: 50px;
}