ion-content {
    --background: url('/assets/sap-image-library/snow-house.jpg') no-repeat center center / cover;
}

ion-button {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

ion-text {
    color: black;
    padding: 20px;
    font-size: 12px;
    font-weight: bold;
}

ion-icon {
    color: #0892A5;
    --ionicon-stroke-width: 48px;
    font-size: 16px;
}