ion-content {
    border-radius: 20px;
}
form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

ion-input {
    --background: #F3F3F3;
    margin-bottom: 26px;
    border-radius: 20px;
}

ion-button {
    margin-top: -10px;

}

.sign-in-btn {
    --background: #06908F;
    --color: white;
    font-size: 12px;
    font-weight: bold;
}

.register-btn {
    --background-hover: white;
    --color: #00A3FF;
    font-size: 12px;
    font-weight: bold;
    margin-right: 112px;
}

.icon {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    margin-bottom: 20px;
    transform: translate(-50%, -50%)
}